.container {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;

  & h1 {
    font-size: 2.5rem;
  }

  & h2 {
    font-size: 1.2rem;
    color: gray;
    font-weight: 200;
    margin: 0;
  }

  .cardsContainer {
    display: flex;
    width: 30vw;
  }
}
