.container {
  border-radius: 8px;
  padding: 1em;
  margin: 1.5em 1em;
  cursor: pointer;
  box-sizing: border-box;

  .heading {
    font-weight: bold;
  }

  .content {
    font-weight: 100;
    color: grey;
  }
}
