.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;

  .titles {
    text-align: center;
    & h1 {
      font-size: 2.5rem;
    }

    & h2 {
      font-size: 1.2rem;
      color: gray;
      font-weight: 200;
      margin: 0;
    }
  }

  .optionalValue {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 1em;

    label > span {
      color: #bec8da;
    }

    .url {
      display: flex;
      & :nth-child(1) {
        background-color: #f8f9fc;
        border: 1px solid #f0f2f8;
        padding: 1em;
        border-radius: 5px 0 0 5px;
        text-align: center;
      }

      & :nth-child(2) {
        flex-grow: 1;
        border: 1px solid #f0f2f8;
        border-radius: 0 5px 5px 0;
        padding: 1em;
      }
    }
  }
}
