.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;

  .titles {
    text-align: center;
    & h1 {
      font-size: 2.5rem;
    }

    & h2 {
      font-size: 1.2rem;
      color: gray;
      font-weight: 200;
      margin: 0;
    }
  }
}
