.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      margin: 2em;
      width: 10em;
      height: 4em;
    }

    .stepper {
      width: 30vw;
      margin: 2em;
    }
  }

  .pageContent {
    height: 50vh;
  }

  .primaryButton {
    margin: 1em 0;
    background-color: #664de5;
    width: 30vw;
    padding: 1em;
  }
}
